<% if (all.length ==0) { %>
<div class="no-tran">
  <p style="margin-top: 20px; font-size: larger">
    Nos Transaction for this Date
  </p>
  <form action="/filterBydateAdmin" method="post">
    <input type="date" name="date" id="" />

    <button type="submit">Search</button>
  </form>
</div>
<% } else{%>

<div class="transactions">
  <div>
    <table>
      <thead>
        <th>SalePerson_ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Sale Price</th>
        <th>Total Sales</th>
      </thead>
      <tbody>
        <% all.forEach(element => { %>
        <tr>
          <td><%= element.saleperson %></td>
          <td><%= element.product %></td>
          <td><%= element.quantity %></td>
          <td><%= element.salePrice %></td>

          <% }) %>

          <td>
            Total Value of Item Sold: <strong> <%= sumTotal %></strong><br />
            Total Original Value of Item Sold:
            <strong> <%= originalItemTotal %></strong><br />
            Total net Profit:
            <strong class="profit"><%= profit %></strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="trr">
      <div>Download Total</div>
      <div>
        <a href="/totaldownload/<%= today %>">Download Transactions</a>
      </div>
    </div>
  </div>

  <div>
    <form action="/filterBydateAdmin" method="post">
      <input type="date" name="date" id="" />

      <button type="submit">Search</button>
    </form>
  </div>
</div>
<% } %>
